<%=flash[:notice]%>

<% if @book.errors.any? %>
<table>
 <tr> <%= @book.errors.count %>errors
  <% @book.errors.full_messages.each do |message| %>
    <%= message %></tr>
    </table>
  <% end %>
<% end %>

<h1>Editing Book</h1>
<%= form_with model:@book, url:"/books/#{@book.id}",local:true do |f| %>
<h4>Title</h4>
<%=f.text_field :title%>
<h4>Body</h4>
<%=f.text_area :body%>
<%=f.submit 'Update Book'%>
<%end%>
<%=link_to "show", book_path(@book.id) %>
<%=link_to "back", books_path %>
